<link rel="stylesheet" href="http://www.janknappe.com/assets/css/main.css">
<link rel="stylesheet" href="http://www.janknappe.com/assets/css/syntax.css">
<!-- RSS-v2.0
<link href="http://www.janknappe.com/feed.xml" type="application/rss+xml" rel="alternate" title=" | "/>
//-->

<link rel="stylesheet" href="/assets/css/academicons.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
.ai-researchgate {
  padding: 5px;
  @include social-media-icon($researchgate-color, $icon-transition-time);
}

.ai-google-scholar {
  padding: 5px;
  @include social-media-icon($google-scholar-color, $icon-transition-time);
}