social:
- {icon: 'rg', link: 'https://www.researchgate.net/profile/profileName'}
- {icon: 'google-scholar', link: 'https://scholar.google.com/citations?user=userID'}

$researchgate-color: #00d09d;
$google-scholar-color: #4788ee;
